.advantages {
    min-height: 470px;
    background-color: #f6f6f6;
    padding-top: 70px;
    padding-bottom: 80px;

    @media (max-width: 991px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    &__header {
        color: $dark-color;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-shrink: 0;

        @media (max-width: 991px) {
            justify-content: space-evenly; 
        }
    }

    &__item {
        margin: 65px 20px 0 20px;
        max-width: 250px;
        text-align: center;
        color: $dark-color;

        @media (max-width: 991px) {
            margin-top: 40px;
        }

    }

    &__img {
        max-width: 70px;
    }

    &__name {
        margin-top: 38px;
        font-size: 18px;
        font-weight: 700;

        @media (max-width: 991px) {
            margin-top: 15px;
        }
    }

    &__descr {
        margin-top: 25px;
        font-size: 14px;
        font-weight: 300;

        @media (max-width: 991px) {
            margin-top: 15px;
        }

        a {
            color: $main-color;
            text-decoration: underline;
        }

        
    }
}