.carousel {
    padding: 81px 0;

    @media (max-width: 575px) {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;

        img {
            width: inherit;
        }

        @media (max-width: 991px) {
            max-width: 90%;
        }
    }

    .slick-prev, .slick-next {
        position: absolute;
        top: 50%;
        left: -66px;
        transform: translateY(-50%);
        border: none;
        background-color: #fff;
        
        img {
            width: 31px;
            height: 50px;
        }
    }

    .slick-next {
        left: auto;
        right: -66px;
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;

        li {
            margin-top: 10px;
            width: 35px;
            height: 5px;
            border-radius: 20%;
            background: $input-data-color;

            button {
                display: none;
            }
        }

        li.slick-active {
            background-color: $main-color;
        }

        li + li {
            margin-left: 10px;
        }
    }

    
}