.heading {
    color: $dark-color;
    font-size: 30px;
    font-weight: 700;
    text-align: center;

    &_left {
        max-width: 780px;
        color: $another-color;
        font-size: 36px;
        text-transform: uppercase;
        text-align: left;

        @media (max-width: 575px) {
            text-align: center;
            font-size: 26px;
        }

        @media (max-width: 400px) {
            text-align: center;
            font-size: 20px;
        }
    }
}

