.promo {
    min-height: 650px;
    padding-top: 20px;
    padding-bottom: 93px;
    background: url('../img/main.png') center (center/cover) no-repeat;
    color: $another-color;

    @media (max-width: 767px) {
        padding-bottom: 70px;
    }

    &__wrapper {
        margin-top: 90px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;

        @media (max-width: 767px) {
            align-items: center;
            margin-top: 70px;
        }

        @media (max-width: 575px) {
            margin-top: 55px;
        }
    }

    &__header {
        font-weight: 700;
        font-size: 42px;
        text-transform: uppercase;

        @media (max-width: 575px) {
            font-size: 36px;
        }
    }

    &__subheader {
        font-weight: 500;
        font-size: 24px;
        text-transform: uppercase;

        @media (max-width: 575px) {
            font-size: 20px;
        }
    }

    &__icons {
        margin-top: 65px;
        width: 425px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media (max-width: 575px) {
            margin-top: 55px;
            width: 90%;
        }

        @media (max-width: 400px) {
            margin-right: auto;
        }
    }

    &__item {
        width: 108px;
        text-align: center;
        font-size: 14px;
        font-weight: 500;

        @media (max-width: 400px) {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            width: auto;
            margin-bottom: 20px;
        }

        img {
            display: block;
            height: 45px;
            margin: 0 auto 20px auto;

            @media (max-width: 400px) {
                width: 46px;
                height: auto;
                margin-bottom: 0;
                margin-right: 15px;
            }
        }
    }

    &__link {
        margin-top: 18px;
        font-size: 16px;
        font-weight: 500;

        @media (max-width: 400px) {
            font-size: 14px;
        }

        a {
            color: $another-color;
            text-transform: uppercase;
            text-decoration: underline;
            &:hover {
                color: $another-color
            }
        }
    }
}